html,
body {
  margin: 0;
  padding: 0;
}

.comments-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
}

canvas {
  display: block;
}

/* Estilos del recuadro */
.box {

  background-color: #f0f0f0;
  border: 2px solid #ccc;
  transition: transform 0.3s ease;
  /* Agregar efecto de sombra */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 20px;

}

/* Efecto de hover */
.box:hover {
  background-color: red;
  /* Cambiar color al pasar el mouse */
}

.box.hover-effect:hover {
  background-color: green;
}

.box.hover-effect-dos:hover {
  background-color: red;
}